<h3 style="color: #FFFFFF; text-align: center">Loan Helper</h3>
<Menu Mode="MenuMode.Inline" Accordion="true" Theme="MenuTheme.Dark" Style="font-size: 15pt">
    <MenuItem Title="Home" RouterLink="/" RouterMatch="NavLinkMatch.Prefix"/>
    <SubMenu Title="Tools" Style="font-size: 14pt">
        <MenuItem Title="Payment Calculator" RouterLink="/Tools/PaymentCalculator" RouterMatch="NavLinkMatch.Prefix"/>
        <MenuItem Title="Period Calculator" RouterLink="/Tools/PeriodCalculator" RouterMatch="NavLinkMatch.Prefix"/>
        <MenuItem Title="Mortgage Equity" RouterLink="/Tools/MortgageEquity" RouterMatch="NavLinkMatch.Prefix"/>
    </SubMenu>
</Menu>