@page "/"

<h1 style="color: #ffffff">Loan Helper</h1>

This site will include a set of tool that you can use when looking to a loan!
These tools use the standard formula for loan calculation that can be used for almost any type of loan, including mortgage, auto, and personal.
The results provided are estimates and should be treated only as guidelines for what to expect.